<mat-grid-list class="container">
  <mat-toolbar class="container-fluid footer">
    <span>
      Desenvolvido por
      <strong><a
          href="https://www.linkedin.com/in/danilo-portor/?challengeId=AQGng6plV6_LLwAAAXNIv0o5NXEerf4PhlvxZ2RrwMh9NbhbCEHUARWNYYRn-RXQ0J0zuAk8gSjgd3XF0lShIhKAMjtNzM2vBQ&amp;submissionId=356a18c3-c858-2116-550e-c258bf8c2962"
          target="_blank" rel="noopener">Danilo Porto Rosa</a><i class="material-icons v-middle">
          account_balance
        </i><span class="orange">#Avanade</span></strong>
    </span>
  </mat-toolbar>
</mat-grid-list>
