<mat-progress-bar value="100"></mat-progress-bar>

<mat-progress-bar mode="buffer"></mat-progress-bar>

<mat-card class="container-fluid">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Camila Ferreira Ribeiro</mat-card-title>
      <mat-card-subtitle>cahferreira</mat-card-subtitle>
      <button class="coracao" mat-icon-button>
        <img class="fav" mat-card-image [src]="favorite" alt="coracao1">
      </button>
    </mat-card-header>
     <div class="camila" *ngIf= "mySource">
      <img src="{{avanade}}">
     </div>
     <div class="camila" *ngIf= "!mySource">
      <img id="fotocamila"src="{{camila}}">
   </div>
  <mat-card-content class="cah">
      <h1>{{nome}}</h1>
    </mat-card-content>
    <mat-card-actions class="photo1">
      <button id="one" mat-button (click)="onBotaoPhoto()">
        Quem Sou!?
      </button>

      <button id="like1" mat-button (click)="botaoLike()">
        like
      </button>
      <div *ngIf= "nome">
        oi!
     </div>
     <div *ngIf= "!nome">
     </div>
    </mat-card-actions>
    <div id="test"></div>
  </mat-card>

  <!---------Segundo card------------>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Iglá Generoso</mat-card-title>
      <mat-card-subtitle>Iglá</mat-card-subtitle>
      <button class="coracao" mat-icon-button>
        <img class="fav" mat-card-image [src]="favorite2" alt="coracao2">
      </button>
    </mat-card-header>

    <div class="camila" *ngIf= "mySource2">
      <img src="{{dio}}">
     </div>
     <div class="camila" *ngIf= "!mySource2">
      <img id="fotoigla"src="{{igla}}">
   </div>

    <mat-card-content class="cah">
      <h1>{{nome2}}</h1>
    </mat-card-content>
    <mat-card-actions class="photo1">
      <button id="one" mat-button (click)="botaoPhoto2()">
        Quem Sou!?
      </button>
      <button id="like1" mat-button (click)="botaoLike2()">
        like
      </button>
      <div *ngIf= "nome2">
        oi!
     </div>
     <div *ngIf= "!nome2">
     </div>
    </mat-card-actions>
    <div id="test"></div>
  </mat-card>

  <!---------Terceiro card------------>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Arnaldo Dos Santos Junior</mat-card-title>
      <mat-card-subtitle>arnaldo-junior</mat-card-subtitle>
      <button class="coracao" mat-icon-button>
        <img class="fav" mat-card-image [src]="favorite3" alt="coracao3">
      </button>
    </mat-card-header>
    <div class="camila" *ngIf= "mySource3">
      <img src="{{avanade}}">
     </div>
     <div class="camila" *ngIf= "!mySource3">
      <img id="fotoarnaldo" src="{{arnaldo}}">
   </div>

    <mat-card-content class="cah">
      <h1>{{nome3}}</h1>
    </mat-card-content>
    <mat-card-actions class="photo1">
      <button id="one" mat-button (click)="botaoPhoto3()">
        Quem Sou!?
      </button>
      <button id="like1" mat-button (click)="botaoLike3()">like
      </button>
      <div *ngIf= "nome3">
        oi!
     </div>
     <div *ngIf= "!nome3">
     </div>
    </mat-card-actions>
    <div id="test"></div>
  </mat-card>

  <!---------Quarto card------------>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Rafael Orofino</mat-card-title>
      <mat-card-subtitle>Orofino</mat-card-subtitle>
      <button class="coracao" mat-icon-button>
        <img class="fav" mat-card-image [src]="favorite4" alt="coracao4">
      </button>
    </mat-card-header>
    <div class="camila" *ngIf= "mySource4">
      <img src="{{avanade}}">
     </div>
     <div class="camila" *ngIf= "!mySource4">
      <img id="fotorafael" src="{{rafael}}">
   </div>

    <mat-card-content class="cah">
      <h1>{{nome4}}</h1>
    </mat-card-content>
    <mat-card-actions class="photo1">
      <button id="one" mat-button (click)="botaoPhoto4()">
        Quem Sou!?
      </button>
      <button id="like1" mat-button (click)="botaoLike4()">like
      </button>
      <div *ngIf= "nome4">
        oi!
     </div>
     <div *ngIf= "!nome4">
     </div>
    </mat-card-actions>
    <div id="test"></div>
  </mat-card>
</mat-card>
<mat-card class="barra"></mat-card>
<p id="demo">
</p>
