<mat-progress-bar value="100"></mat-progress-bar>

<mat-progress-bar mode="buffer"></mat-progress-bar>

<mat-card class="container-fluid">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Camila Ferreira Ribeiro</mat-card-title>
    <mat-card-subtitle>cahferreira</mat-card-subtitle>
    <button class="coracao" mat-icon-button disabled aria-label="Example icon-button with a heart icon">
      <mat-icon id="fav">favorite</mat-icon>
    </button>
  </mat-card-header>

    <img class="img1" mat-card-image [src]="mySource" alt="1"  id="foto1">

  <mat-card-content class="cah">
    <h1>{{nome}}</h1>
  </mat-card-content>
  <mat-card-actions class="photo1">
    <button id="one" mat-button (click)="botaoPhoto()">
        Quem Sou!?
      </button>
    <button id="like1" mat-button [disabled]="inativo"
    >like
  </button>
  </mat-card-actions>
  <div id="test"></div>
</mat-card>

<!---------Segundo card------------>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Iglá Generoso</mat-card-title>
    <mat-card-subtitle>Iglá</mat-card-subtitle>
    <button class="coracao" mat-icon-button disabled aria-label="Example icon-button with a heart icon">
      <mat-icon id="fav">favorite</mat-icon>
    </button>
  </mat-card-header>
    <img class="img2" mat-card-image [src]="mySource2"  id="foto1">
  <mat-card-content class="cah">
    <h1>{{nome2}}</h1>
  </mat-card-content>
  <mat-card-actions class="photo1">
    <button id="one" mat-button (click)="botaoPhoto2()">
        Quem Sou!?
      </button>
    <button id="like1" mat-button (click)="botaoLike()"
    >like
  </button>
  </mat-card-actions>
  <div id="test"></div>
</mat-card>

<!---------Terceiro card------------>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Arnaldo Dos Santos Junior</mat-card-title>
    <mat-card-subtitle>arnaldo-junior</mat-card-subtitle>
    <button class="coracao" mat-icon-button disabled aria-label="Example icon-button with a heart icon">
      <mat-icon id="fav">favorite</mat-icon>
    </button>
  </mat-card-header>

    <img class="img1" mat-card-image [src]="mySource3"  id="foto1">

  <mat-card-content class="cah">
    <h1>{{nome3}}</h1>
  </mat-card-content>
  <mat-card-actions class="photo1">
    <button id="one" mat-button (click)="botaoPhoto3()">
        Quem Sou!?
    </button>
    <button id="like1" mat-button (click)="botaoLike()"
    >like
    </button>
  </mat-card-actions>
  <div id="test"></div>
</mat-card>

<!---------Quarto card------------>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Rafael Orofino</mat-card-title>
    <mat-card-subtitle>Orofino</mat-card-subtitle>
    <button class="coracao" mat-icon-button disabled aria-label="Example icon-button with a heart icon">
      <mat-icon id="fav">favorite</mat-icon>
    </button>
  </mat-card-header>

    <img class="img1" mat-card-image [src]="mySource4"  id="foto1">

  <mat-card-content class="cah">
    <h1>{{nome4}}</h1>
  </mat-card-content>
  <mat-card-actions class="photo1">
    <button id="one" mat-button (click)="botaoPhoto4()">
        Quem Sou!?
      </button>
    <button id="like1" mat-button (click)="botaoLike()"
    >like
  </button>
  </mat-card-actions>
  <div id="test"></div>
</mat-card>
</mat-card>
<mat-card class="barra"></mat-card>


<p id="demo">
</p>

