.example-card{
  height: 25em;
  width: 24em;
 display:inline-block;
 padding:2em;
 background-color: indigo;
 margin-left: 1em;

}
.container-fluid{
  display: flex;
  background-color: khaki;
  padding-bottom: 150px;
}
img{
  margin-bottom: 2em;
}

@media screen and (max-width:500px){
.example-card{
   display:inline-block;
   padding:1em;
   margin-left: -0.4em;
   margin-bottom: 10px;
   width: 100%;
   height:100%;
  }
  .img{
    width: 100%;
    height: 100%;
    margin-left: 2px;
    padding-bottom: 0px;
  }
  .container-fluid{
 padding:0px;
 width: 25.7em;
 flex-wrap: wrap;
display: flex;
width: 100%;
  }
  .barra{
    height: 50px;
  }
}

@media screen and (max-width:360px){
  .example-card{
     display:inline-block;
     padding:1em;
     margin-left: -0.2em;
     margin-bottom: 10px;
     width: 100%;
    }
    .img{
      width: 100%;
      margin-left: 2px;
      flex-wrap:nowrap;
      padding-bottom: 20px;
    }
    .container-fluid{
   padding:0px;
   width: 25.7em;
   flex-wrap: wrap;
  display: flex;
  width: 100%;
    }
    .barra{
      height: 50px;
    }
  }

