<mat-progress-bar value="100"></mat-progress-bar>

<mat-progress-bar mode="buffer"></mat-progress-bar>

<mat-card class="container-fluid">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Danilo Porto Rosa</mat-card-title>
      <mat-card-subtitle>Porto</mat-card-subtitle>
      <button class="coracao" mat-icon-button disabled aria-label="Example icon-button with a heart icon">
        <mat-icon>perm_contact_calendar</mat-icon>
      </button>

    </mat-card-header>

    <img class="img1" mat-card-image [src]="mySource" id="foto1">

    <button mat-icon-button aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button id="icon" mat-icon-button color="basic" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button id="icon" mat-icon-button color="basic" aria-label="Example icon button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <div class="example-button-row">
      <button id="pdf" mat-button><a href="https://drive.google.com/file/d/1elCFqf8jfmd6wzYDfUC-NlR8RpaoGkMy/view?usp=sharing" target="_blank" rel="noopener">Curriculo Pdf</a></button>
    </div>
  </mat-card>


</mat-card>
