<mat-progress-bar value="100"></mat-progress-bar>

<mat-progress-bar mode="buffer"></mat-progress-bar>

<mat-card class="container-fluid">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Danilo Porto Rosa</mat-card-title>
      <mat-card-subtitle>Porto</mat-card-subtitle>
      <button class="coracao" mat-icon-button disabled aria-label="Example icon-button with a heart icon">
        <mat-icon>perm_contact_calendar</mat-icon>
      </button>

    </mat-card-header>

    <img class="img1" mat-card-image [src]="mySource" id="foto1">

    <button id="icon" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
    <button id="icon" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button id="icon" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

  </mat-card>
  <mat-card class="cod">
    <img mat-card-image src="/assets/img/qrcode1.png" id="foto1">
  </mat-card>

</mat-card>
