* {
  margin: 0;
  padding: 0;
}
mat-stepper-horizontal {
  background: linear-gradient(to right, #ee8742, #ca281d, #f3ef1e);
  margin-top: 8px;
  display: flex;
}
mat-step {
  display: flex;
  margin: 0;
}
.selection {
  height: 40em;
  margin-bottom: 2.2em;
}
.cod {
  height: 13em;
  width: 13em;
  margin-left: 5px;
}
#img1,
#img4 {
  width: 35em;
  margin-right: 0px;
}
#img2 {
  width: 39em;
  margin-right: 0px;
  height: 30em;
}
#img3{
  width: 30em;
  margin-right: 0px;
  height: 31em;
}
.mat-form-field {
  margin-top: 16px;
}
.container > h3 {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}
mat-progress-bar {
  color: orangered;
  background-color: orangered;
}
@media screen and (max-width: 1024px) {
  #img1,
  #img4{
    width: 35em;
  }
  #img2{
    width: 35em;
    height: 22em;
  }
  #img3 {
    width: 35em;
    height: 33em;
  }
  .selection {
    height: 81em;
  }

}
@media screen and (max-width: 540px) {
  #img1,
  #img4{
    width: 35em;
  }
  #img2{
    width: 35em;
    height: 22em;
  }
  #img3 {
    width: 35em;
    height: 33em;
  }

}
@media screen and (max-width: 414px) {
  #img1, #img4{
    width: 26.2em;
  }
  #img2 {
    width: 26.2em;
    height: 16em;
  }
  #img3 {
    width: 26.2em;
    height: 25em;
  }
  .selection {
    height: 43.6em;
  }
}
@media screen and (max-width: 375px) {
  #img1, #img4{
    width: 23.4em;
  }
  #img2 {
    width: 23.4em;
    height: 16em;
  }
  #img3 {
    width: 23.4em;
    height: 23em;
  }
  .cod {
    padding-bottom: 5em;
  }
  .selection {
    height: 42.8em;
  }
}
@media screen and (max-width: 320px) {
  .cod {
    padding-bottom: 6em;
  }
  #img1, #img4{
    width: 9em;
  }
  #img2 {
    width: 9em;
    height: 10em;
  }
  #img3 {
    width: 19.4em;
    height: 19em;
  }
  .selection {
    height: 18em;
  }
}
@media screen and (max-width: 360px) {
  #img1, #img4{
    width: 22.4em;
  }
  #img2 {
    width: 22.4em;
    height: 16em;
  }
  #img3 {
    width: 22.4em;
    height: 22em;
  }
  .selection {
    height: 38em;
  }
}
@media screen and (max-width: 280px) {
  #img1, #img4{
    width: 16.5em;
  }
  #img2 {
    width: 16.5em;
    height: 13em;
  }
  #img3 {
    width: 16.5em;
    height: 18em;
  }
  .selection {
    height: 18em;
  }
}

